body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #004080;
  color: white;
  padding: 18px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
main {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background: #004080;
  color: white;
  border: none;
  cursor: pointer;

}
input[type="checkbox"] {
  transform: scale(1.5);
   accent-color: #003366 !important;
}

button:hover {
  background: #555;
}
header {
    background: #004080; 
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

